* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}

/* Header & Navigasi */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    user-select: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 25px;
    transition: background 0.3s;
    transition: scroll 0.3s;
    user-select: none;
    transition: ease-in-out 0.3s;
}

.menu a:hover {
    background-color: lightgray;
    transform: translateY(-5px);
}

/* Hamburger Menu (untuk layar kecil) */
.hamburger {
    font-size: 28px;
    display: none;
    cursor: pointer;
} 

@media screen and (max-width: 900px) {

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        height: fit-content;
    }
    .menu {
        display: none;
        flex-direction: column;
        row-gap: 10px;
        position: absolute;
        z-index: 10;
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        width: 97%;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
        transition: ease-in-out 0.3s;
        flex-wrap: wrap;
        border-radius: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    .menu a{
        background-color: whitesmoke;
        padding: 20px;
        display: flex;
        width: 95%;
        text-align: center;
        justify-content: center;
    }

    .menu.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
    
}


/* Konten Utama */
.content1 {
    background-image: url(img/Foto-rumah.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: -1;
    height: 100vh;
}

.content1 .teks {
    width: fit-content;
    font-size: larger;
    font-weight: bold;
    margin: auto auto;
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    user-select: none;
    position:relative;
    left: -100px;
}

.content1 img {
    width: 300px;
    max-width: 100%;
    margin-right: 30px;
    animation: scale 1.5s infinite;
    user-select: none;
    position:relative;
    right: 50px;
}

@keyframes scale {
  0%, 100% {
    transform: translateX(-5px) rotate(-5deg);
  }
  30% {
    transform: translateX(5px) rotate(5deg);
  }
  55% {
    transform: translateX(-5px) rotate(-5deg);
  }
  75% {
    transform: translateX(5px) rotate(5deg);
  }
}


.teks button {
    padding: 10px;
    border-radius: 5px;
    border: 2px red solid;
    font-size: large;
    background-color: rgba(255, 0, 0, 0.5);
    color: whitesmoke;
    cursor: pointer;
    transition: ease-in-out 0.2s, background 0.3s;
}

.teks button:hover {
    transform: scale(0.95);
    background-color: red;
}

.teks button:active {
    background-color: red;
    transform: scale(0.95);
}





/* Responsif untuk layar kecil */
@media (max-width: 900px) {
    .header h1{
        width: 60%;
        margin-left: 0px;
    }
    .header{
        margin-bottom: 20px;
    }
    
    .content1 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .content1 .teks {
        max-width: 100%;
        padding: 20px;
        font-size: larger;
        margin-top: 20px;
        top: 200px;
        left: 0px;
    }
    .content1 img {
        width: 250px;
        margin: auto auto;
        position: relative;
        bottom: 30px;
        left: 10px;
    }

    .content1 img:hover {
        transform: none;
    }

    .teks button{
        margin-top: 20px;
    }
}

.kontainer {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    max-width: 100%;
    margin-bottom: 100px;
}

.kontainer .card{
    text-align: center;
    border-radius: 10px;
    border: 2px solid;
    max-width: 100%;
    width:300px;
    height:160px;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
    background-color: whitesmoke;
    transition:0.2s ease-in-out;
}

.k1 {
    transform: perspective(1000px) scaleZ(1) rotateY(20deg);
}
.k2:hover {
    transform: perspective(1000px) scaleZ(1) rotateX(20deg);
}
.k3 {
    transform: perspective(1000px) scaleZ(1) rotateY(-20deg);
}

@media (max-width: 768px) {
    .kontainer .card{
        margin-bottom: 20px;
    }

}

.kontainerlokasi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.feedback textarea {
    min-width: 50%;
    min-height: 100px;
    padding: 10px;
    border: 2px solid;
}

.feedback button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
}

footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    box-shadow: 0px 10px 10px 5px;
}

.bgNotif {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.bgNotif.show {
    display: flex;
    opacity: 1;
}

.notif {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    row-gap: 20px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 30px;
    background-color: white;
    transition: transform 0.3s ease;
    transform: scale(0.1);
}

.notif.show {
    transform: scale(1);
}

.notif button {
    width: 150px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
}